$borderRadius: 5px;
$contBackground: rgba(150, 150, 220, 0.2);
$boxShadow: 3px 2px 5px #ccc;
$border: 3px solid #ddd;

main {
  background-color: rgb(249, 249, 249);

  & .aboutMeWrapper {
    padding: 35px 110px 32px 110px;
    margin: 0 56px;
    background-color: #fff;

    & .aboutMeFlex {
      margin-top: 45px;
      display: flex;

      & .leftColumn {
        box-shadow: $boxShadow;
        background-color: rgb(245, 245, 245);
        border: $border;
        border-radius: $borderRadius;
        padding: 15px;
        flex: 0 0 33%;
        margin-right: 20px;

        & .aboutMeImgContainer {
          background-color: $contBackground;
          border-radius: $borderRadius;
          & .aboutMeImg {
            max-width: 65%;
            margin: 0 auto;
          }
        }

        & .aboutMeSmDetails {
          text-align: center;
          font-family: Verdana;
          font-size: 15px;
          margin-top: 25px;
          background-color: $contBackground;
          border-radius: $borderRadius;

          & .far,
          & .fas {
            margin: 5px 10px 0 0;
          }
        }
      }

      & .rightColumn {
        padding: 25px;
        box-shadow: $boxShadow;
        background-color: rgb(245, 245, 245);
        border: $border;
        border-radius: $borderRadius;

        & h1 {
          background-color: $contBackground;
          border-radius: $borderRadius;
          margin-bottom: 15px;
        }

        & p {
          font-family: Verdana;
          background-color: $contBackground;
          border-radius: $borderRadius;
          margin: 10px 0;
        }
      }
    }
  }
}
