main {
  a {
    text-decoration: none;
    color: #1c88cc;

    &:hover {
      text-decoration: underline;
    }
  }

  .bold {
    font-weight: bold;
  }

  background-color: rgb(249, 249, 249);
  & .mainContainer {
    padding: 35px 110px 32px 110px;
    margin: 0 56px;
    background-color: #fff;

    & .informationContainer {
      & .subTitle {
        margin: 20px 0 7px 0;
        font-weight: 400;
        font-size: 20px;
      }

      & .informationBox {
        padding: 10px;
        box-shadow: 3px 2px 5px #ccc;
        background-color: rgb(245, 245, 245);
        border: 2px solid #ddd;
        & .information {
          margin: 14px 0;
          font-size: 15px;
        }

        & .list {
          list-style-type: disc;
          padding-left: 40px;
        }
      }
    }
  }
}
