$center: center;
$insideCardInfoBck: rgba(150, 150, 220, 0.2);
.pageContainer {
  margin-top: 15px;
  text-align: $center;
  background-color: #8f2d4c;

  & .title {
    padding: 15px;
    color: #fff;
    font-size: 50px;
    font-weight: 400;
  }

  & .pokeData {
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-wrap: wrap;
    justify-content: $center;
    align-content: $center;

    & .pokeContainer {
      background-color: rgb(245, 245, 245);
      border: 2px solid rgb(150, 130, 130);
      box-shadow: 3px 2px 5px #ccc;
      margin: 50px;
      border-radius: 15px;
      width: 320px;

      & .pokeNumber {
        padding-top: 15px;
        font-weight: 400;
        color: #000;
        background-color: $insideCardInfoBck;
        border-radius: 15px 15px 0 0;
        font-size: 25px;
      }

      & .pokeImageContainer {
        border-bottom: 7px solid rgb(150, 130, 130);
        background-color: $insideCardInfoBck;

        & .pokeImage {
          max-width: 100%;
          margin: 0 auto;
          text-align: $center;
        }
      }

      & .pokeName {
        font-weight: 400;
        color: #595959;
        text-transform: capitalize;
      }

      & ul {
        display: flex;
        justify-content: $center;
        padding: 0;
        text-align: $center;
        list-style-type: none;

        & li {
          font-size: 20px;
          color: #000;
          border-radius: 3px;
          padding: 5px;
          min-width: 50px;
          margin: 5px;
        }
      }

      & .pokeDetailContainer {
        padding: 7px;
        width: 70%;
        background-color: $insideCardInfoBck;
        margin: 9px auto;
        border-radius: 5px;

        & .pokeDetail {
          font-weight: bold;
        }
      }
    }
  }

  & .btnContainer {
    & .pokeBtn {
      cursor: pointer;
      color: rgb(33, 105, 75);
      font-weight: bold;
      width: 150px;
      border: 0;
      margin: 7px;
      padding: 10px;
      border-radius: 7px;
      background-color: #64b2d6;
    }
  }

  & .pokeDetailBtnContainer {
    & .pokeDetailBtn {
      border: 0;
      border-radius: 5px;
      background-color: rgba(140, 140, 140, 0.2);
      cursor: pointer;
      margin-bottom: 15px;

      & a {
        width: 125px;
        padding: 10px;
        display: block;
        text-decoration: none;
        color: #000;
      }
    }
  }
}
