.pageContainer {
  text-align: center;
  background-color: #990000;

  & .title {
    padding: 15px;
    color: #ddd;
    font-size: 50px;
    font-weight: 400;
  }

  & .pokeData {
    background-color: #00b3b3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;

    & .pokeContainer {
      box-shadow: 10px 20px 5px #00ccff;
      border-radius: 15px;
      margin: 20px;
      background-color: #b3ffff;
    }

    & .pokeImage img {
      max-width: 100%;
      margin: 0 auto;
      text-align: center;
    }

    & .pokeName {
      font-weight: 400;
      color: #595959;
      text-transform: capitalize;
    }

    & ul {
      display: flex;
      justify-content: center;
      padding: 0;
      text-align: center;
      list-style-type: none;

      & li {
        font-size: 20px;
        color: #000;
        border-radius: 3px;
        border: 1px solid #990000;
        background-color: #f3e4cd;
        margin: 5px;
      }
    }

    & .pokeDetailContainer {
      margin-top: 7px;

      & .pokeDetail {
        font-weight: bold;
      }
    }
  }

  & .btnContainer {
    & .pokeBtn {
      cursor: pointer;
      color: #000;
      font-weight: 400;
      box-shadow: 1px 1px #ddd;
      border: 0;
      padding: 0;
      margin: 5px;
      padding: 10px;
      border-radius: 5px;
      background-color: #44a5d1;
    }
  }
}
