.pokeWrapper {
  max-width: 1245px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(249, 249, 249);

  .pokeContainer {
    margin-top: 50px;
    background-color: rgb(245, 245, 245);
    border: 2px solid rgb(150, 130, 130);
    box-shadow: 3px 2px 5px #ccc;
    width: 35%;
    border-radius: 15px;
    text-align: center;

    .pokeNumber {
      font-weight: 400;
      color: #000;
      background-color: rgba(150, 150, 220, 0.2);
      border-radius: 15px 15px 0 0;
    }

    .pokeImageContainer {
      border-bottom: 7px solid rgb(150, 130, 130);
      background-color: rgba(150, 150, 220, 0.2);
      .pokeImage {
        max-width: 100%;
        margin: 0 auto;
      }
    }

    .pokeName {
      margin-top: 10px;
      font-size: 35px;
      font-weight: 400;
      color: #595959;
      text-transform: capitalize;
    }

    .pokeTypeContainer {
      .pokeType {
        width: 60%;
        margin: 5px auto;
        padding: 5px;
        border-radius: 3px;
        font-size: 20px;
      }
    }
    .pokeDetailContainer {
      padding: 7px;
      width: 70%;
      background-color: rgba(150, 150, 220, 0.2);
      margin: 9px auto;
      border-radius: 5px;
      .pokeDetail {
        font-weight: bold;
        font-size: 20px;
      }

      ul {
        padding: 0;
        margin: 10px auto;
        text-align: center;
        li {
          list-style-type: none;
        }
      }

      .pokeDetailForm,
      .pokeDetailSpecie {
        text-transform: capitalize;
      }
    }
  }
}

@media (min-width: 0) and (max-width: 600px) {
  .pokeWrapper {
    .pokeContainer {
      width: calc(80%);
    }
  }
}

@media (min-width: 601px) and (max-width: 998px) {
  .pokeWrapper {
    .pokeContainer {
      min-width: 550px;
    }
  }
}

@media (min-width: 999px) {
  .pokeWrapper {
    max-width: 100%;
  }
}
