main {
  max-width: 1245px;
  & .bannerContainer {
    background-color: rgb(47, 47, 47);
    & .banner {
      text-align: center;
      color: #fff;
      background-color: rgb(37, 50, 50);
    }
  }

  & .checkDocsContainer {
    background-color: #eff1f0;

    & .checkDocs {
      background-color: rgb(234, 245, 240);
      text-align: center;

      & a {
        display: block;
        margin-top: 30px;
        color: #1c88cc;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 0) and (max-width: 600px) {
  & .bannerContainer {
    max-width: 600px;

    & .banner {
      padding: 35px;
      margin: 0 auto;
    }
  }
  & .checkDocsContainer {
    max-width: 600px;
    & .checkDocs {
      padding: 35px;
      margin: 0 auto;
    }
  }
}

@media (min-width: 601px) and (max-width: 999px) {
  & .bannerContainer {
    max-width: 999px;

    & .banner {
      padding: 35px;
      margin: 0 auto;
    }
  }
  & .checkDocsContainer {
    max-width: 999px;
    & .checkDocs {
      padding: 35px;
      margin: 0 auto;
    }
  }
}

@media (min-width: 1000px) {
  & .bannerContainer {
    margin: 0 auto;
  }

  & .banner {
    padding: 32px;
    margin: 0 56px;
  }
  & .checkDocsContainer {
    & .checkDocs {
      padding: 20px;
      margin: 0 56px;
    }
  }
}
