header {
  border: 1px solid red;
  background-color: rgb(244, 81, 83);
  max-width: 1245px;

  @media (min-width: 0) and (max-width: 600px) {
    & .container {
      & .navigationContainer {
        & .rightSide {
          & .mainNav {
            display: none;
          }
          & .hamburgerMenu {
            cursor: pointer;
            display: inline-block;

            & .bar1,
            .bar2,
            .bar3 {
              background-color: #ddd;
              width: 35px;
              height: 5px;
              margin: 6px 0;
              border-radius: 5px;
            }
            & .change .bar1 {
              transform: rotate(-45deg) translate(-9px, 6px);
            }

            & .change .bar2 {
              opacity: 0;
            }

            & .change .bar3 {
              transform: rotate(45deg) translate(-8px, -8px);
            }
          }
        }
      }
    }
  }

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 56px;

    & .leftSide img {
      max-width: 115px;
    }

    & .navigationContainer {
      & .rightSide .mainNav li {
        display: inline-block;
        background-color: rgb(244, 81, 83);

        & a {
          color: #fff;
          text-decoration: none;
          padding: 0 16px;
          display: block;

          &.activeLink {
            background-color: rgb(202, 36, 45);
          }

          &:hover {
            text-decoration: underline;
            background-color: rgb(238, 62, 69);
          }
        }
      }

      & .rightSide .mainNav .aboutNavigation {
        position: relative;

        & .secondaryNav {
          display: none;
          position: absolute;
        }

        &:hover {
          & .secondaryNav {
            display: block;
            background-color: red;
          }

          & li {
            display: flex;
            //white-space: nowrap;
          }
        }
      }
    }
  }
}

@media (min-width: 999px) {
  header {
    max-width: 100%;
  }
}
